@import './mixin';
@import 'variables';

.login-logo {
  text-align: center;
  background: #fff;
  padding: 14px 0 6px 0;
}

.wrap-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  height: 500px;

}

.middle-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  vertical-align: middle;
  -ms-flex-item-align: center !important;
  -ms-grid-row-align: center !important;
  align-self: center !important;

  text-align: left;

  position: relative;
  display: inline-block;

  background: #fff;
  margin: auto;
  width: 400px;
}

.change_login {
  position: absolute;
  @include ct;
  right: 0.75rem;
  @include sc(14px, #fff);
}

.login-form {
  background-color: #fff;
  .input_container {
    display: flex;
    justify-content: space-between;
    padding: .8rem;
    border-bottom: 1px solid #f1f1f1;
    input {
      @include sc(14px, #666);
    }
    button {
      @include sc(.65rem, #fff);
      font-family: Helvetica Neue, Tahoma, Arial;
      padding: .28rem .4rem;
      border: 1px;
      border-radius: 4px;
    }
    .right_phone_number {
      background-color: $success;
    }
  }
  .phone_number {
    padding: .5rem .8rem;
    margin-bottom: -1px;
  }
  .captcha_code_container {
    height: 2.6rem;
    .img_change_img {
      display: flex;
      align-items: center;
      img {
        @include wh(3.5rem, 1.5rem);
        margin-right: .2rem;
      }
      .change_img {
        display: flex;
        flex-direction: 'column';
        flex-wrap: wrap;
        width: 3rem;
        justify-content: center;
        p {
          @include sc(.55rem, #666);
        }
        p:nth-of-type(2) {
          color: #3b95e9;
          margin-top: .2rem;
        }
      }
    }
  }
}

.login_tips {
  @include sc(12px, #999);
  padding: .8rem;
  line-height: 18px;
  a {
    color: #3b95e9;
  }
}

.login-register-switch {
  @include sc(14px, #999);
  padding: .4rem;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}

.login_container {
  @include sc(14px, #fff);
  margin: 30px 15px 0 15px;
  background-color: $green;
  padding: .5rem 0;
  border: 1px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.login-password-switch {
  color: #999;
  font-size: 12px;
  cursor: pointer;
}

.button_switch {
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include wh(2rem, .7rem);
  padding: 0 .2rem;
  border: 1px;
  border-radius: 0.5rem;
  position: relative;
  transition: all .3s;
  .circel_button {
    transition: all .3s;
    position: absolute;
    z-index: 1;
    @include wh(1.2rem, 1.2rem);
    left: -.1rem;
    box-shadow: 0 0.026667rem 0.053333rem 0 rgba(0, 0, 0, .1);
    background-color: #f1f1f1;
    border-radius: 50%;

  }
  .trans_to_right {
    transform: translateX(1.3rem);
  }
  span {
    @include sc(.45rem, #fff);
    transform: translateY(.05rem);
    line-height: .6rem;
  }
  span:nth-of-type(2) {
    transform: translateY(-.08rem);
  }
}

.change_to_text {
  background-color: #4cd964;
}

.to_forget {
  float: right;
  @include sc(.6rem, #3b95e9);
  margin-right: .3rem;
}