$light:                           #fff !default;
$assertive:                       #a10719 !default;
$light-gray:                       #ddd !default;

$content-padding:                 10px !default;

$button-light-border:             #ddd !default;
$item-light-border:               $button-light-border !default;

$radio-icon-font-size:            32px !default;
$photo-text-font-size:            20px !default;

$bar-height:                      44px !default;
$bar-footer-height:               $bar-height !default;

$bottom-padding:                  10px !default;

$text-block-height:               120px !default;


$green:                            #41b883;// #42b1df;
$success:                         #13CE66;
$bc:                              #e4e4e4;
$fc:                              #fff;

$black: #1f1f1f;